:css
  body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }

.container.content.narrow
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    %h2.form-signin-heading Forgot your password?
    = devise_error_messages!
    = f.email_field :email, :autofocus => true, :placeholder => "Email"
    = f.button "Send me reset password instructions", :class => "btn btn-large btn-primary"
    %br
    %br
    = render "devise/shared/links"


